.mission-vission-cards{
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: stretch;
}

@media (max-width: 1919px) {
    .mission-vission-cards{
        gap: 40px;
    }
}

@media (max-width: 992px) {
    .mission-vission-cards{
        gap: 30px;
        flex-wrap: wrap;
    }
}