.statistics-card{
    display: flex;
    justify-content: space-between;
    box-shadow: 8px 8px 0px 1px var(--Orange80);
    background: var(--Orange95);
    border-radius: 12px;
    padding: 20px 50px;
    gap: 13px
}

.statistics-card p{
    margin: 0;
}

@media(max-width: 1919px){
    .statistics-card{
        gap: 10px;
        padding: 16px 38px ;
    }
    .statistics-card .num{
        font-size: 34px;
    }

    .statistics-card .desc{
        font-size: 16px;
    }
}

@media(max-width: 992px){
    .statistics-card{
        box-shadow: 4px 4px 0px 1px var(--Orange80);
        flex-wrap: wrap;
        justify-content: center;
    }

    .statistic-card{
        width: 100%;
        border-top: 2px solid var(--grey15);
    }
    .statistic-card:first-child{
        border-top: none;
    }
}