.faq-cards{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: start;
}

.AA-FAQ-group{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 calc(50% - 25px);
  }

@media (max-width: 1919px) {
    .faq-cards{
        gap: 40px;
    }

    .AA-FAQ-group{
        gap: 24px;
    }
}

@media (max-width: 992px) {
    .faq-cards{
        gap: 20px;
    }

    .AA-FAQ-group{
        flex: 1 1 100%;
        gap: 20px;
    }
}
